.App {
  text-align: center;
  padding: 20px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.pokemon-card {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.pokemon-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pokemon-card img {
  margin-bottom: 10px;
}
